.container {
  width: 100%;
  max-width: 760px;
  margin: 0 auto;
  ul {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
      position: relative;
      padding: 0;
      margin: 0;
      width: 100%;
      // height: 300px;
      border-radius: 12px;
      margin-bottom: 12px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      padding: 10px;
      box-sizing: border-box;
      background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
      &:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      }
      .item {
        position: relative;
        margin-bottom: 12px;
        padding-right: 20px;
        box-sizing: border-box;
        height: 30px;
        line-height: 30px;
        span {
          display: block;
          float: left;
          width: 100px;
          font-size: 1em;
          color: white;
        }
      }
      .title {
        font-size: 1.25em;
        font-weight: bold;
        font-family: "Courier New", Courier, monospace;
        margin-bottom: 12px;
        color: white;
      }
      .technology {
        .tech {
          margin-bottom: 12px;
          font-size: 1.2em;
          color: #fff;
          padding-left: 2px;
          box-sizing: border-box;
        }
        li {
          background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
        }
      }
      .detail {
        position: absolute;
        width: 100%;
        height: 60px;
        font-size: 1.25em;
        text-align: center;
        line-height: 60px;
        bottom: 0;
        left: 0;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        cursor: pointer;
        a {
          color: #fff;
          text-decoration: none;
        }
    }
      &:nth-child(5) {
        .item {
          display: flex;
          span {
            width: 60px;
          }
          a {
            display: inline-block;
            width: 90%;
            white-space: nowrap; /*先强制一行内显示文本*/
            overflow: hidden; /*超出部分隐藏*/
            text-overflow: ellipsis; /*文字用省略号代替超出部分*/
          }
        }
      }
    }
    .project {
        padding-bottom: 70px; 
        .p1 {
          text-align: center;
          img {
            display: block;
            width: 100px;
            height: 100px;
            margin: 10px auto 0px auto;
          }
        }
        .p2 {
          margin: 20px auto 0px auto;
          a {
            display: block;
            font-size: 16px;
            color: #fff;
            text-align: center;
            text-decoration: none;
          }
        }
        .p3 {
          margin: 20px auto 0px auto;
          a {
            display: block;
            font-size: 16px;
            color: #fff;
            text-align: center;
            text-decoration: none;
          }
        }
    }
  }
  .footer {
      text-align: center;
  }
}
