@charset "UTF-8";
.container {
  width: 100%;
  max-width: 760px;
  margin: 0 auto;
}

.container .banner {
  height: 240px;
  position: relative;
  width: 100%;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.container .banner img {
  width: 120px;
  height: 120px;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
}

.container ul {
  padding: 0;
  margin: 0;
}

.container ul li {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  border-radius: 12px;
  margin-bottom: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  box-sizing: border-box;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.container ul li:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container ul li .item {
  position: relative;
  margin-bottom: 12px;
  padding-right: 20px;
  box-sizing: border-box;
  height: 30px;
  line-height: 30px;
}

.container ul li .item span {
  display: block;
  float: left;
  width: 100px;
  font-size: 1em;
  color: white;
}

.container ul li .title {
  font-size: 1.25em;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 12px;
  color: white;
}

.container ul li .technology div {
  margin-bottom: 12px;
  font-size: 1.2em;
  color: #fff;
  padding-left: 2px;
  box-sizing: border-box;
}

.container ul li .technology li {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.container ul li:nth-child(5) .item {
  display: flex;
}

.container ul li:nth-child(5) .item span {
  width: 60px;
}

.container ul li:nth-child(5) .item a {
  display: inline-block;
  width: 90%;
  white-space: nowrap;
  /*先强制一行内显示文本*/
  overflow: hidden;
  /*超出部分隐藏*/
  text-overflow: ellipsis;
  /*文字用省略号代替超出部分*/
}
